<div class="pageSection" id="{{ section }}">
  <div class="sectionContentWrapper"> 
    <div class="sectionTitle">
      <h2> 
	{{ section }}
      </h2>
      </div>
      <div class="sectionSubTitle">
	<h6>	
	  Subtitle
	</h6>	
	</div>
	<div class="sectionContent">
      <div class="als-container" id="posts">
	<div id="prev" class="als-prev">
	  &lt;
	</div>
	<div id="next" class="als-next">
	  &gt;
	</div>
	<div class="als-viewport">
	  <ul class="als-wrapper">
	    {% for post in site.posts %}
	    <li class="als-item">
	    {{ post.content }}
	    </li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>
</div>
