<script>
  head.js(
  "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js",
  "js/jquery.als-1.1.min.js",
  "js/skrollr.min.js",
  "js/responsive-nav.js",
  function(){
    /*Configure any list scrolling variables*/
    $("#posts").als({
      visible_items:1,
    });

    $('a').click(function(){
      $('html, body').animate({
	scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
      return false;
    });

    $('.sectionContentWrapper').css({
      position: 'absolute',
      top: ($(window).height() - $('.sectionContentWrapper').outerHeight())/2
    });

    var navigation = responsiveNav("#nav");

  }) ;
</script>


