<script>
  head.js(
  "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js",
  "js/skrollr.min.js",
  "js/responsive-nav.js",
  "js/swipe.js",
  function(){
    $('a').click(function(){
      $('html, body').animate({
	scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
      return false;
    });

    $('.sectionContentWrapper').css({
      position: 'absolute',
      top: ($(window).height() - $('.sectionContentWrapper').outerHeight())/2
    });

    var navigation = responsiveNav("#nav");

    window.mySwipe = Swipe(document.getElementById('slider'),
    {
      auto:4000
    } 
    
    );

  }) ;
</script>


